:host {
  display: block;
}

.content {
  padding: 10rem 1rem;
  text-align: center;
  background: #673ab7;
  color: #ffffff;
}

h1 {
  width: 40rem;
  line-height: 1.2;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 600;
}

p {
  width: 40rem;
  margin: 6rem auto;
}
