<app-sub-header title="{{ postsService?.post?.title }}"></app-sub-header>

<app-container
  class="container"
  *ngIf="postsService.postLoading && !postsService.postError; else elseBlock"
>
  Loading ...
</app-container>

<ng-template #elseBlock>
  <app-container class="container" *ngIf="postsService.postError; else content">
    {{ postsService.postError }}
  </app-container>

  <ng-template #content>
    <app-container class="container">
      <h1 class="title">{{ postsService.post.title }}</h1>
    </app-container>

    <img
      class="image"
      src="{{ postsService.post.image }}"
      alt="{{ postsService.post.title }}"
    />

    <app-container class="inner">
      <div [innerHtml]="sanitize(postsService.post.description)"></div>
    </app-container>
  </ng-template>
</ng-template>
